<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4 user_profile_space user_profile_expand">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>タイムライン</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>