<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.usericon? %>
            <div class="usericon">
            <%= image_tag @user.usericon.url %>
            </div>
        <% else %>
            <%= gravatar_for @user %>
        <% end %>
        <%= @user.name %>
        <%# ログインされていなかったら実行されない %>
        <%# current_user.idでも良い %>
      </h1>
      <%= link_to "編集する", edit_user_path(current_user) if logged_in? && (current_user == @user) %><br>
      <%# ログインしていてかつ現在のユーザー=@userの場合に表示 %>
      <%= link_to "フォロー", followings_user_path(@user) if logged_in? %> | 
      <%= link_to "フォロワー", followers_user_path(@user) if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>フォロワー</h1>
    <% @follower.each_with_index do |user,i| %>
      <hr class="style-one">
      <% if user.usericon? %>
        <%= link_to image_tag(user.usericon.url), user_path(user) %>
      <% else %>
        <%= link_to gravatar_for(user, size: 20), user_path(user) %>
      <% end %>
      ユーザー名: <%= link_to user.name, user_path(user) %>
      <% if i == @follower.length - 1 %>
        <hr class="style-one">
      <% end %>
    <% end %>
  </div>
</div>
