<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%# ログインされていなかったら実行されない %>
        <%# current_user.idでも良い %>
      </h1>
      <%= link_to "編集する", edit_user_path(current_user) if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
        <% if @user.microposts.any? %>
        <h3>投稿一覧 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
          <%# = render partial: 'microposts/micropost', collection: @microposts %>
        </ol>
      <% end %>
  </div>
</div>
